/* background */
body {
    background: #f2f2f2;
    margin: 0px auto;
  }
  
  .container1 {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding-bottom: 30px;
  }
  
  /* headings */
  h1 {
    font-family: "pt sans narrow", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #0e1347;
    /* RGB 14 19 71 */
    text-transform: uppercase;
    font-size: 6.5em;
    margin: 0px auto;
  }
  
  .container2 {
    width: 1000px;
    margin: 0px auto;
  }
  
  h2 {
    font-family: "pt sans narrow", sans-serif;
    font-weight: 500;
    color: #19276b;
    font-size: 3em;
    margin-top: 0%;
    text-align: center;
  }
  h3 {
    font-family: "pt sans narrow", sans-serif;
    font-weight: 600;
    padding: 20px;
    color: #19276b;
    /* RGB 25 39 107 */
    font-size: 2em;
  }
  h4 {
    font-family: "pt sans narrow", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
  }
  
  .beachphoto {
    float: right;
    width: 700px;
    margin-top: 120px;
  }
  
  img.align-right {
    width: 700px;
  }
  figcaption.align-right {
    text-align: center;
    padding-top: 10px;
    width: 700px;
    font-size: 1em;
    font-family: "pt sans narrow", sans-serif;
  }
  
  .intro {
    float: left;
    width: 300px;
    margin-left: 0%;
    text-align: justify;
  
    font-family: "ubuntu", sans-serif;
    font-weight: 300;
    color: #212121;
    font-size: 1.3em;
  }
  
  /* images */
  
  .section2 {
    width: 1100px;
    margin: auto;
  }
  
  .cazadores {
    align-content: left;
    margin: 0%;
    width: 700px;
  }
  
  img.align-left {
    width: 700px;
  }
  
  figcaption.align-left {
    text-align: center;
    width: 600px;
    font-size: 1em;
    padding-top: 10px;
    font-weight: 300;
    font-family: "pt sans narrow", sans-serif;
  }
  
  .intro2 {
    float: right;
    text-align: justify;
    width: 300px;
    font-family: "ubuntu", sans-serif;
    font-weight: 300;
    color: #212121;
    font-size: 1.3em;
  }
  
  .container3 {
    width: 800px;
  }
  
  figure img {
    width: 300px;
    padding-top: 0;
  }
  
  figure {
    float: left;
  }
  
  figcaption {
    text-align: center;
    font-family: "pt sans narrow", sans-serif;
    font-weight: 300;
    color: #000000;
    /* RGB 0 0 0 */
    font-size: 1em;
    width: 300px;
  }
  
  /* links */
  a {
    font-family: "pt sans narrow", sans-serif;
    color: #000000;
    font-size: 1em;
  }
  
  /* footer */
  footer {
    font-family: "pt sans narrow", sans-serif;
    font-weight: 300;
    color: #000000;
    /* RGB 0 0 0 */
    font-size: 1em;
    clear: both;
    padding-top: 50px;
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  /* colors: #000000, #212121, #19276b, #0e1347, #f2f2f2 */